@import "src/custom-theme";

mat-form-field{
  margin: 0 20px;
  font-size: 18px;
}

mat-expansion-panel-header{
  font-size: 23px;
  height: 2em;
}
.labels{
  color: $secondary !important;
}

.codigo{
  color: black;
}

.fill-blank{
  flex: 1 1 auto;
}

.cadastro-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

