.app-body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

button{
  width: 17vw !important;
  margin-top: 20px;
  font-size: 1.2em;
  font-stretch: expanded;
}
