<div class="app-body">
  <div>
    <h1>Bem-vindo ao Systema</h1>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Usuário" (input)="inputUsername = $event.target.value" [value]="inputUsername">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Senha" (input)="inputPassword = $event.target.value" [value]="inputPassword">
    </mat-form-field>
  </div>
  <div id="divButton">
    <button mat-raised-button (click)="onLogin()" color="accent">Entrar</button>
  </div>
</div>
