<div class="app-body">
  <div>
    <h1>Bem-vindo ao Systema</h1>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Usuário</mat-label>
        <input matInput [(ngModel)]="inputUsername" class="form-control" id="user" name="user" placeholder="Usuário" required #user="ngModel" >
    </mat-form-field>
    <div *ngIf="user.invalid &&(user.dirty)"
         class="alert alert-danger">
      <div *ngIf="user.errors.required">
      </div>
    </div>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput [(ngModel)]="inputPassword" id="password" name="password"  required #password="ngModel">
    </mat-form-field>

    <div *ngIf="password.invalid && (password.dirty)"
         class="alert alert-danger">
      <div *ngIf="password.errors.required">
      </div>
    </div>
  </div>
  <div id="divButton">
    <button name="submitButton" mat-raised-button (click)="onLogin()" color="primary" ngDefaultControl>Entrar</button>
  </div>
</div>
